
body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: #00008B;
  color: white;
}

#LOGOWEB {
  text-align: center;
  margin: 30px auto;
}

#LOGOWEB img {
  max-width: 100%;
  height: auto;
}

#LOGOWEB p,
#LOGOWEB h5 {
  margin: 10px 0;
}


nav {
  background-color: #9028c5;
  padding: 10px;
  text-align: center;
}



.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 10px;
}

.CONTACT-banner {
  text-align: center;
  margin: 60px auto 30px;
    margin-right: 50px;
}

.CONTACT-banner h2 {
margin-left: 550px; 
    margin-top:100px;
  border-radius: 10px;
}

.CONTACT-section {
  max-width: 1000px;
  margin: 0 auto 60px;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

.CONTACTSPACE iframe {
  width: 78%;
  max-width: 750px;
  height: 1000px;
  margin-top: 35px;
  border: none;
  border-radius: 8px;
   margin-left: 75px;
    
}

footer {
  background-color: #9028c5;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 200px;
  min-width: 200px;
}

.footer-section img {
  width: 250px;
  margin-bottom: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin: 5px 0;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}




/* Responsive Tweaks */
@media (max-width: 768px) {
  .slideshow-container {
    max-width: 100%;
    margin: 20px;
  }

  .content-grid {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .GameIndexNav ul {
    flex-direction: column;
    gap: 10px;
  }

  .footer-grid {
    flex-direction: column;
    align-items: center;
  }
}