
body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: #00008B;
  color: white;
}


#LOGOWEB {
  text-align: center;
  margin: 30px auto;
}

#LOGOWEB img {
  max-width: 100%;
  height: auto;
}

#LOGOWEB p,
#LOGOWEB h5 {
  margin: 10px 0;
}


nav {
  background-color: #9028c5;
  padding: 10px;
  text-align: center;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 10px;
}


.IndexBackground {
  background-image: url("../img/gameselectbox.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 20px; /*original 30px*/
  border-radius: 10px;/*make broder of container curve*/
 /* box-sizing: border-box;*/
  max-width: 800px;
    max-height: 250px;
  margin: 50px auto;
  text-align: center;
    position: relative;
 
}

.game-banner {
 max-width: 100%;
  height: auto;
  margin-top: -30px;
  margin-bottom: 10px;

}

.GameIndexNav {
  display: flex;
  flex-direction: column;
  align-items: center;
     margin-top: 32px; /* place gap between game banner and IndexNAv*/
}

.GameIndexNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.GameIndexNav li {
  margin: 0;
}

.GameIndexNav img {
  height: 60px;
  width: auto;
  transition: transform 0.3s ease;
}

/*hover the games*/
.GameIndexNav img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}


footer {
  background-color: #9028c5;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 200px;
  min-width: 200px;
}

.footer-section img {
  width: 250px;
  margin-bottom: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin: 5px 0;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}




/* Responsive Tweaks */
@media (max-width: 768px) {
  .slideshow-container {
    max-width: 100%;
    margin: 20px;
  }

  .content-grid {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .GameIndexNav ul {
    flex-direction: column;
    gap: 10px;
  }

  .footer-grid {
    flex-direction: column;
    align-items: center;
  }
}
