
body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: #00008B;
  color: white;
}

#LOGOWEB {
  text-align: center;
  margin: 30px auto;
}

#LOGOWEB img {
  max-width: 100%;
  height: auto;
}

#LOGOWEB p,
#LOGOWEB h5 {
  margin: 10px 0;
}


nav {
  background-color: #9028c5;
  padding: 10px;
  text-align: center;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 10px;
}

.GC_SEC {
  max-width: 1000px;
  margin: 60px auto;
  padding: 20px;
  background-color: #9028c5;
  border-radius: 10px;
  box-sizing: border-box;
}

.GC_Game iframe {
  width: 100%;
  height: 725px;
  border: none;
  border-radius: 10px;
}

/* Controls and Description */
.GCControls_Description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.controls,
.description {
  flex: 1 1 45%;
  padding: 20px;
}

.controls h3,
.description h3 {
  margin-bottom: 10px;
}
.Options-menu,
.keys-menu,
.keys-gameplay {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.Options-menu img,
.keys-menu img,
.keys-gameplay img {
  width: 50px;
  height: 50px;
}


footer {
  background-color: #9028c5;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 200px;
  min-width: 200px;
}

.footer-section img {
  width: 250px;
  margin-bottom: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin: 5px 0;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}


/* Responsive tweaks */
@media (max-width: 768px) {
  .slideshow-container {
    max-width: 100%;
    margin: 20px;
  }

  .content-grid {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}
